{% extends "encyclopedia/layout.html" %}
{% block title %}
  Encyclopedia - Add
{% endblock %}
{% block body %}
    <style>
        textarea {
            margin: 20px;
            height: 30vh;
            width: 41%;
        }
        .text{
            margin: 20px;
            margin-bottom: 10px;
        }
        html{
            overflow: hidden;
        }
    </style>
    <div>
        <form action="{% url 'create' %}" method="POST">{% csrf_token %}
            <input type="text" class="text" name="title" placeholder="Title" style="width: 41%;" value="{{title}}" required><br>
            {% if messages %}
                {% for message in messages %}
                    <ul>
                        <li style="color: red;">{{message}}</li>
                    </ul>
                {% endfor %}
            {% endif %}
            <textarea name="content" id="" cols="5" rows="1" required placeholder="Content">{{content}}</textarea><br>
            <input class="btn btn-primary" type="submit" style="margin: 20px; margin-top:10px;" value="Submit">
        </form>
    </div>
{% endblock %}